@model List<Vehicle>

@section title{
    List
}

@section headingButton {
    <a class="btn btn-primary" asp-action="Create" asp-controller="Home">+ Add New Car</a>
}

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th colspan="2">Action</th>
    </tr>
    @foreach (var vehicle in Model)
    {
        <tr>
            <td>@vehicle.Id</td>
            <td>@vehicle.Name</td>
            <td>@vehicle.Price</td>
            <td><a asp-action="Edit" asp-controller="Home" asp-route-id="@vehicle.Id">Edit</a></td>
            <td><a asp-action="Delete" asp-controller="Home" asp-route-id="@vehicle.Id" onclick="return DeleteVehicle()">Delete</a></td>
        </tr>
    }
</table>

@section script {
    <script>
        function deleteVehicle() {
            return confirm("Are you sure want to delete this vehicle?");
        }
    </script>
}