@model CrudApp.DTOs.CreateUserDTO

@{
    if (TempData["error"] != null)
    {
        <p class="alert alert-danger"><i class="fa-solid fa-circle-exclamation"></i> @TempData["error"]</p>
    }
}

<h2>Create User Profile</h2>
<form method="post">
    <div class="d-flex row">
        <div class="w-50">
            <h5>Personal Information</h5>
            <div class="mt-2">
                <label class="form-label" for="name">Name* :</label>
                <input type="text" id="name" class="form-control" name="name" asp-for="Name" />
                <span class="text-danger">@Html.ValidationMessageFor(model => model.Name)</span>
            </div>
            <div class="mt-2">
                <label class="form-label" for="email">Email* :</label>
                <input type="email" id="email" class="form-control" name="email" asp-for="Email" />
                <span class="text-danger">@Html.ValidationMessageFor(model => model.Email)</span>
            </div>
            <div class="mt-2">
                <label class="form-label" for="phone">Contact Number:</label>
                <input type="text" id="phone" class="form-control" name="phone" asp-for="Phone" />
            </div>
        </div>
        <div class="w-50">
            <h5>Credential Information</h5>
            <div class="mt-2">
                <label class="form-label" for="userName">User Name* :</label>
                <input type="text" id="userName" class="form-control" name="userName" asp-for="UserName" />
                <span class="text-danger">@Html.ValidationMessageFor(model => model.UserName)</span>
            </div>
            <div class="mt-2">
                <label class="form-label" for="password">Passoword* :</label>
                <input type="password" id="password" class="form-control" name="password" asp-for="Password" />
                <span class="text-danger">@Html.ValidationMessageFor(model => model.Password)</span>
            </div>
            <div class="mt-2">
                <label class="form-label" for="rePassword">Retype-Passoword:</label>
                <input type="password" id="rePassword" class="form-control" name="rePassword" asp-for="RePassword" />
                <span class="text-danger">@Html.ValidationMessageFor(model => model.RePassword)</span>
            </div>
            <br />
        </div>
    </div>
    <input type="submit" class="btn btn-outline-primary" value="Submit" />
</form>
